{% extends 'posts/base.html' %}

{% block body %}
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <!--프로필이미지 넣는공간-->
        <img src="https://picsum.photos/id/{{user_info.id}}/150/150" alt="..." class="rounded-circle">
    </div>
    <div class="col-8">
        <!-- 정보가 보여지는 공간 -->
        {{user_info.username}}
    </div>
</div>
<div class="card-columns">
    {% for post in user_info.post_set.all %}
        {% include 'posts/_post.html' %}
    {% endfor %}
</div>
{% endblock %}